*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
.DS_Store
sargrc/settings.py
*.py[cod]
*$py.class
*.so
*.egg
*.manifest
*.spec
.cache
*.log
*.sqlite3
*/migrations/*
*/*/migrations/*
*.pyc
*/*.pyc
*/*/*.pyc
.pyc
