{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

   <form id="formFicha" class="form-horizontal" role="form" method="post" action='{{url}}'>
   {% csrf_token %}

   {% for field in form %}

		{% if field.name == 'persona' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="persona">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
				{{field}}
				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'comite' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="comite">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
				{{field}}
				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}		

		{% if field.name == 'estado' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="estado">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'fechaafiliacion' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="fechaafiliacion">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'fechafin' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="fechafin">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'alcance' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="alcance">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}		

		{% if field.name == 'organizacion' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="organizacion">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'paterno' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="paterno">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}		

		{% if field.name == 'paterno' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="paterno">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'materno' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="materno">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}		

		{% if field.name == 'nombres' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="nombres">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'estadocivil' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="estadocivil">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'sexo' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="sexo">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'lugarnacimiento' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="lugarnacimiento">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'ubigeo' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="ubigeo">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'direccionactual' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="direccionactual">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'numeroactual' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="numeroactual">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'sectoractual' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="sectoractual">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}		

		{% if field.name == 'telefonoactual' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="telefonoactual">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'correos' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="correos">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}	

		{% if field.name == 'tipodireccion' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="tipodireccion">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'tiposector' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="tiposector">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}									

	{% endfor %}

	</form>


{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}