{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="col-xs-12">
  <h4 class="title">
    Fichas
  </h4>
</div>

<div class="col-xs-12 text-right">
  <a id="agregarFicha" href="/fichas/agregar/" role="button"  ><span class="glyphicon glyphicon-plus"></span>Agregar</a>
</div>

<div class="col-xs-12">
  <br>
</div>

<div class="col-xs-12">

{% if total > 0 %}
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center th1">#</th>
          <th class="text-center th2">Nombres</th>
          <th class="text-center th3">Estado</th>  
          <th class="text-center th3">Fecha Afiliación</th>          
          <th class="text-center th3">Fecha Fin</th>  
          <th class="text-center th3">Alcance</th>  
          <th class="text-center th3">Sexo</th>  
          <th class="text-center th3">Teléfono</th>  
          <th  colspan="2" class="text-center th8">Botones</th>           
        </tr>
      </thead>
      <tbody>
        {% for ficha in fichas %}
    		<tr>
    			<td class="text-center td1">{{ forloop.counter }}</td>
    			<td id="ficha{{ficha.id}}" class="text-center td2">{{ficha.persona}} </td>
    			<td class="text-center td3">{{ficha.estado}}</td>
    			<td class="text-center td3">{{ficha.fechaafiliacion}}</td>
    			<td class="text-center td3">{{ficha.fechafin}}</td>
    			<td class="text-center td3">{{ficha.alcance}}</td>
    			<td class="text-center td3">{{ficha.sexo}}</td>
    			<td class="text-center td3">{{ficha.telefonoactual}}</td>
    			<td class="text-center td8">
      			{% csrf_token %}
      				<a id="editarFicha" href="/ficha.ficha/editar/?fichaid={{ficha.id}}" role="button" class= "fichaEditar" >
      					<span class="glyphicon glyphicon-pencil"></span>
      				</a>
          </td>
          <td class="text-center td9">
      				<a id = "numeroeliminar" href= "#" role="button" numeroid={{ficha.id}} >
      					<span class="glyphicon glyphicon-trash"></span>
      				</a>
    			</td>
    		</tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  <!-- Fin Grillla -->
  <nav aria-label="Page navigation">
    <ul class="pagination">

        {% if ficha.has_previous %}
            <li><a href="?page={{ ficha.previous_page_number }}">Atras</a></li>
        {% endif %}

       <li>
        <span class="current">
            Pagina {{ ficha.number }} de {{ ficha.paginator.num_pages }}
        </span>

       </li> 

        {% if ficha.has_next %}
            <li><a href="?page={{ ficha.next_page_number }}">Siguiente</a></li>
        {% endif %}
    </ul>
  </nav>

{% else %}

  <div class="col-xs-12 text-center text-muted">
      <img src="{% static 'images/forbidden.png' %}" alt="Sin items">
      <br>
      Sin items
  </div>

{% endif %}

</div>

<!-- Modal -->
<div id="modalFichaForm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
   <div class="modal-dialog modal-lg" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" id="guardarFicha" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando datos">Guardar</button>
      </div>
    </div>
  </div>  
</div>




<div id="modalFichaAlert" class="modal fade" tabindex="-1" role="dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="EliminarFicha" type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div>  
</div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
  <script src="{% static 'js/ficha/fichas.js' %}"> </script>
{% endblock maestro_scripts %}




