
 <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center th1">#</th>
          <th class="text-center th2">Nombre</th>
          <th class="text-center th3">Descripción</th>
          <th class="text-center th4">Ruta</th>
          <th class="text-center th5">Orden</th>
          <th class="text-center th6">Estado</th>   
          <th class="text-center th7">Menú padre</th>                    
        </tr>
      </thead>
      <tbody>
        {% for menu in acceso %}
    		<tr>
    			<td class="text-center td1">{{ forloop.counter }}</td>
    			<td id="menu{{menu.id}}" class="text-center td2">{{menu.nombre}} </td>
    			<td class="text-center td3">{{menu.descripcion}}</td>
    			<td class="text-center td4">{{menu.ruta}}</td>
    			<td class="text-center td5">{{menu.orden}}</td>
    			<td class="text-center td6">{{menu.estado|yesno:"Activo,Inactivo" }}</td>
    			<td class="text-center td7">{{menu.menupadre|default_if_none:"Sin Padre"}}</td>
    		</tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>

