{% extends "Base_form.html" %}

{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="col-sm-6 col-centered">
	<form class="form-horizontal" role="form" method="post" action="/login/">
		{% csrf_token %}
	  <div class="form-group">
	    <label for="ejemplo_email_3" class="col-lg-2 control-label">usuario</label>
	    <div class="col-lg-10">
	      <input type="input" class="form-control" id="ejemplo_email_3" name = "usuario" 
	             placeholder="Ususario">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="ejemplo_password_3" class="col-lg-2 control-label">Contraseña</label>
	    <div class="col-lg-10">
	      <input type="password" class="form-control" id="ejemplo_password_3" name = "password" >
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <button type="submit" class="btn btn-default">Entrar</button>
	    </div>
	  </div>
	   <div class="form-group">
	   	{{msj}}
	   </div>
	</form>	
</div>

    

{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}
