{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="table-responsive">
	<a id="agregarMenu" class="btn btn-default" href="/menu/agregar/" role="button">Agregar</a>
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descipción</th>
          <th>Ruta</th>
          <th>Orden</th>
          <th>Estado</th>   
          <th>Menú padre</th>          
          <th>Botones</th>           
        </tr>
      </thead>
      <tbody>
      {% for menu in menu %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{menu.nombre}}</td>
			<td>{{menu.descripcion}}</td>
			<td>{{menu.ruta}}</td>
			<td>{{menu.orden}}</td>
			<td>{{menu.estado}}</td>
			<td>{{menu.menupadre|default_if_none:"Sin Padre"}}</td>
			<td>
				<a href="/menu/editar/?idmenu={{menu.id}}" class="btn btn-primary menuEditar" role="button">
					<span class="glyphicon glyphicon-pencil"></span> Editar
				</a>
				<a href= "/menu/eliminar/?idmenu={{menu.id}}"class="btn btn-danger" role="button">
					<span class="glyphicon glyphicon-trash"></span> Eliminar
				</a>
			</td>
		</tr>
      {% endfor %}
        
      </tbody>
    </table>
  </div>
	<!-- Fin Grillla -->

    

	<nav aria-label="Page navigation">
		<ul class="pagination">

		    {% if menu.has_previous %}
		        <li><a href="?page={{ menu.previous_page_number }}">Atras</a></li>
		    {% endif %}

		   <li>
		   	<span class="current">
		        Pagina {{ menu.number }} de {{ menu.paginator.num_pages }}
		    </span>

		   </li> 

		    {% if menu.has_next %}
		        <li><a href="?page={{ menu.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		</ul>
	</nav>

</div>


<div id="modalMenuForm" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <!-- Mostará el formulario desde la ruta -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
< script src="{% static 'js/menu/menu.js' %}"></script >
{% endblock maestro_scripts %}




