{% extends "basemenus.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}

{% endblock maestro_estilos %}
{% block maestro_menus %}
{% regroup menu by menupadre as menu_list %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">

    <a class="navbar-brand" href="#">Inicio</a>
  {% for menupadre in menu_list %}

    {% if menupadre.grouper %}
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
       {{ menupadre.grouper }} 
       <span class="caret"></span></a>
    	 <ul class="dropdown-menu">
	        {% for item in menupadre.list %}
	          <li><a href="{{ item.ruta }}">{{ item.nombre }}</a></li>
	        {% endfor %}
    	</ul>
     </li>

    {% endif %}	

{% endfor %}

</nav>

{% endblock maestro_menus %}

{% block maestro_contenido %}



{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}