{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}
<div class="col-xs-12">
  <a id="agregarMenu" class="btn btn-default" href="/menu/agregar/" role="button"  >Agregar</a>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center th1">#</th>
          <th class="text-center th2">Nombre</th>
          <th class="text-center th3">Descripción</th>
          <th class="text-center th4">Ruta</th>
          <th class="text-center th5">Orden</th>
          <th class="text-center th6">Estado</th>   
          <th class="text-center th7">Menú padre</th>          
          <th  colspan="2" class="text-center th8">Botones</th>           
        </tr>
      </thead>
      <tbody>
        {% for menu in menu %}
    		<tr>
    			<td class="text-center td1">{{ forloop.counter }}</td>
    			<td id="menu{{menu.id}}" class="text-center td2">{{menu.nombre}} </td>
    			<td class="text-center td3">{{menu.descripcion}}</td>
    			<td class="text-center td4">{{menu.ruta}}</td>
    			<td class="text-center td5">{{menu.orden}}</td>
    			<td class="text-center td6">{{menu.estado|yesno:"Activo,Inactivo" }}</td>
    			<td class="text-center td7">{{menu.menupadre|default_if_none:"Sin Padre"}}</td>
    			<td class="text-center td8">
      			{% csrf_token %}
      				<a id="editarMenu" href="/menu/editar/?idmenu={{menu.id}}" role="button" class= "menuEditar" >
      					<span class="glyphicon glyphicon-pencil"></span>
      				</a>
          </td>
          <td class="text-center td9">
      				<a id = "numeroeliminar" href= "#" role="button" numeroid={{menu.id}} >
      					<span class="glyphicon glyphicon-trash"></span>
      				</a>
    			</td>
    		</tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  <!-- Fin Grillla -->
  <nav aria-label="Page navigation">
    <ul class="pagination">

        {% if menu.has_previous %}
            <li><a href="?page={{ menu.previous_page_number }}">Atras</a></li>
        {% endif %}

       <li>
        <span class="current">
            Pagina {{ menu.number }} de {{ menu.paginator.num_pages }}
        </span>

       </li> 

        {% if menu.has_next %}
            <li><a href="?page={{ menu.next_page_number }}">Siguiente</a></li>
        {% endif %}
    </ul>
  </nav>



</div>


<!-- Modal -->
<div id="modalMenuForm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >


    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" id="guardarMenu" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando datos">Guardar</button>
      </div>
    </div>


</div>




<div id="modalMenuAlert" class="modal fade" tabindex="-1" role="dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  {# <div class="modal-dialog" role="document"> #}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="EliminarMenu" type="button" class="btn btn-primary">Eliminar</button>
      </div>
  {# </div><!-- /.modal-dialog --> #}
</div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
<script src="{% static 'js/menu/menu.js' %}"> </script >
{% endblock maestro_scripts %}




