
{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

   <form id="formOrganizacion" class="form-horizontal" role="form" method="post" action='{{url}}'>
   {% csrf_token %}

   {% for field in form %}

		{% if field.name == 'nombre' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="nombre">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
				{{field}}
				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'ruc' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="ruc">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">
			
				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>     
			</div>
		</div>
		{% endif %}

		{% if field.name == 'telefono' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="telefono">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">

			{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>
				    
			</div>
		</div>
		{% endif %}
		{% if field.name == 'email' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="email">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">

				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>

			</div>
		</div>
		{% endif %}		
		{% if field.name == 'alcance' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="alcance">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">

				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>

			</div>
		</div>
		{% endif %}	
		{% if field.name == 'siglas' %}
		<div class="form-group">
			<div class="col-xs-12 col-sm-4">
			        <label for="siglas">{{ field.label_tag }}</label>
			</div>
			<div class="col-xs-12 col-sm-8">

				{{field}}

				<div class="help-block alert-danger">
					{{ field.errors }}        
				</div>

			</div>
		</div>
		{% endif %}


	{% endfor %}

	</form>


{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}