{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}
<div class="col-xs-12">
  <a id="agregarOrganizacion" class="btn btn-default" href="/organizacion/agregar/" role="button"  >Agregar</a>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center th1">#</th>
          <th class="text-center th2">Nombre</th>
          <th class="text-center th3">Ruc</th>
          <th class="text-center th4">Telefono</th>
          <th class="text-center th5">Email</th>
          <th class="text-center th6">Alcance</th>   
          <th class="text-center th7">Siglas</th>          
          <th  colspan="2" class="text-center th8">Botones</th>           
        </tr>
      </thead>
      <tbody>
        {% for organizacion in organizacion %}
    		<tr>
    			<td class="text-center td1">{{ forloop.counter }}</td>
    			<td id="organizacion{{organizacion.id}}" class="text-center td2">{{organizacion.nombre}} </td>
    			<td class="text-center td3">{{organizacion.ruc}}</td>
    			<td class="text-center td4">{{organizacion.telefono}}</td>
    			<td class="text-center td5">{{organizacion.email}}</td>
    			<td class="text-center td6">{{organizacion.alcance}}</td>
    			<td class="text-center td7">{{organizacion.siglas}}</td>
    			<td class="text-center td8">
      			{% csrf_token %}
      				<a id="editarOrganizacion" href="/organizacion/editar/?idorganizacion={{organizacion.id}}" role="button" class= "organizacionEditar" >
      					<span class="glyphicon glyphicon-pencil"></span>
      				</a>
          </td>
          <td class="text-center td9">
      				<a id = "numeroeliminar" href= "#" role="button" numeroid={{organizacion.id}} >
      					<span class="glyphicon glyphicon-trash"></span>
      				</a>
    			</td>
    		</tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  <!-- Fin Grillla -->
  <nav aria-label="Page navigation">
    <ul class="pagination">

        {% if organizacion.has_previous %}
            <li><a href="?page={{ organizacion.previous_page_number }}">Atras</a></li>
        {% endif %}

       <li>
        <span class="current">
            Pagina {{ organizacion.number }} de {{ organizacion.paginator.num_pages }}
        </span>

       </li> 

        {% if organizacion.has_next %}
            <li><a href="?page={{ organizacion.next_page_number }}">Siguiente</a></li>
        {% endif %}
    </ul>
  </nav>



</div>


<!-- Modal -->
<div id="modalOrganizacionForm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" id="guardarOrganizacion" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando datos">Guardar</button>
      </div>
    </div>
  </div>
</div>




<div id="modalOrganizacionAlert" class="modal fade" tabindex="-1" role="dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="EliminarOrganizacion" type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
<script src="{% static 'js/organizacion/organizacion.js' %}"> </script >
{% endblock maestro_scripts %}




