{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/perfil/perfil.css' %}">
{% endblock maestro_estilos %}

{% block maestro_contenido %}


<div class="panel panel-primary">


  <div class="panel-heading">Asignar roles a los usuario</div>
  <div class="panel-body">
    <select id = "usuarioSelecPerfil" class="selectpicker form-control" data-live-search="true"  name="id_usuario">
      {% for usuario in usuario %}
      <option value="{{usuario.id}}">( {{usuario}} ), {{usuario.usuario.persona.nombre}} {{usuario.usuario.persona.paterno}} {{usuario.usuario.persona.materno}}</option>
      {% endfor %}
    </select>


      <div id="cargarRolePerfil" class="col-xs-12 panel-default">
        
      </div>
  </div>


  
  <div class="panel-footer text-right">
      <button id="btnGuardarPerfilRol"  type="button" class="btn btn-primary">Guardar</button>
      </div>
</div>



{% endblock maestro_contenido %}


{% block maestro_scripts %}
<script src="{% static 'js/perfil/perfil.js' %}"> </script>

{% endblock maestro_scripts %}