{% extends "Base.html" %}

{% load static from staticfiles %}



{% block maestro_estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rol/rol.css' %}">
{% endblock maestro_estilos %}


{% block maestro_contenido %}
<div class="col-xs-12">
  <a id="agregarRol" class="btn btn-default" href="/rol/agregar/" role="button"  >Agregar</a>
  <div class="table-responsive">
    <table id="tablaRol" class="table table-bordered table-striped table-condensed table-hover" >
      <thead class="thead-inverse">
        <tr>
          <th class="text-center th1">#</th>
          <th class="text-center th2">Nombre</th>
          <th class="text-center th3">Control Total</th>       
          <th  colspan="3" class="text-center th4">Botones</th>           
        </tr>
      </thead>
      <tbody>
        {% for rol in rol %}
    		<tr class = "tabla-row" id = "{{rol.id}}">
    			<td class="text-center td1">{{ forloop.counter }}</td>
    			<td id="rol{{rol.id}}" class="text-center td2">{{rol.nombre}} </td>
    			<td class="text-center td3">{{rol.controltotal|yesno:"Si,No" }}</td>
    			<td class="text-center td4">
              <a id="editarRol" href="/rol/editar/?idrol={{rol.id}}" role="button" class= "rolEditar" >
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
          </td>
          
          <td class="text-center td5">
      				<a id = "numeroeliminar" href= "#" role="button" numeroid={{rol.id}} >
      					<span class="glyphicon glyphicon-trash"></span>
      				</a>
    			</td>
          <td class="text-center td4">
              <a id="rolMenuEditar" href="/rol/accesomenu/?idrol={{rol.id}}" role="button" class= "rolEditarAcceso" numeroid={{rol.id}}>
                <span class="glyphicon glyphicon-align-justify"></span>
              </a>
          </td>
    		</tr>
        {% endfor %}
        
      </tbody>
    </table>

  </div>
  
  <nav aria-label="Page navigation">
    <ul class="pagination">

        {% if rol.has_previous %}
            <li><a href="?page={{ rol.previous_page_number }}">Atras</a></li>
        {% endif %}

       <li>
        <span class="current">
            Pagina {{ rol.number }} de {{ rol.paginator.num_pages }}
        </span>

       </li> 

        {% if rol.has_next %}
            <li><a href="?page={{ rol.next_page_number }}">Siguiente</a></li>
        {% endif %}
    </ul>
  </nav>
  <div class = "divClassTablaMenu">
    

  </div>



</div>






<!-- Modal -->
<div id="modalRolForm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" id="guardarRol" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando datos">Guardar</button>
      </div>
    </div>
  </div>
</div>




<div id="modalRolAlert" class="modal fade" tabindex="-1" role="dialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="EliminarRol" type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal -->

{% endblock maestro_contenido %}


{% block maestro_scripts %}
<script src="{% static 'js/rol/rol.js' %}"> </script>

{% endblock maestro_scripts %}




