<form class="col-xs-12" role="form" method="POST" id="formNivelTipoCargo" action="{{ url }}">
{% csrf_token %}

<input type="hidden" id="totalTipoCargo" value="{{ tipocargo.count }}">
<input type="hidden" id="idnivelcomite" value="{{ idnivelcomite }}" name="idnivelcomite" >

{% for item in tipocargos %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <label class="checkbox-inline">
        	{% if item.id in tiposactuales %}
            <input type="checkbox" id="checkbox" checked="checked" name="tipocargo" value="{{ item.id }}"> {{ item.nombre }}
            {% else %}
            <input type="checkbox" id="checkbox" name="tipocargo" value="{{ item.id }}"> {{ item.nombre }}
        	{% endif %}
        </label>
    </div>
{% endfor %}
</form>


