{% extends "Base.html" %}

{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="col-sm-6">
	<!-- Inicio del Formulario -->

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="nombre" class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input type="input" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
			</div>
		</div>
		<div class="form-group">
			<label for="codigo" class="col-lg-2 control-label">Código</label>
			<div class="col-lg-10">
				<input type="input" class="form-control" name="codigo" id="codigo"  placeholder="Codigo">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<div class="checkbox">
				<label>
					<input type="checkbox" name="permiteafiliacion"> Permite Afiliacion
				</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-default">Guardar</button>
			</div>
		</div>
	</form>

	<!-- Fin del formulario -->	
</div>

    

{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}
