{% extends "Base.html" %}

{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="col-xs-12">

	<!-- Inicio Grilla -->
	<a id="agregarTipoCargo" class="btn btn-default" href="/tipocargo/agregar/" role="button" >Agregar</a>

	<div class="table-responsive">
		<table class="table table-bordered table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th class="text-center th1">Nro</th>
					<th class="text-center th2">Nombre</th>
					<th colspan="2" class="text-center th3">Operaciones</th>
				</tr>
			</thead>
			<tbody>
				{% for  item in tipocargo %}
					<tr>
						<td class="text-center td1">
						{% if tipocargo.number > 1 %}
							{{ tipocargo.number }}
						{% else %}
							{{ forloop.counter }}	
						{% endif %} 
						
						</td>
						<td class="td2">{{ item.nombre }}</td>
						<td class="text-center td3">
							<a href="/tipocargo/editar/?idtipocargo={{ item.id }}" class="tipoCargoEditar" role="button">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
						<td class="text-center td3">
							<!-- <form class="formEliminar" action ="/menu/eliminar/?idmenu={{menu.id}}" method="POST"> -->
							<a href= "/tipocargo/eliminar/?idtipocargo={{item.id}}" class="tipoCargoEliminar" role="button"><span class="glyphicon glyphicon-trash"></span>
							<!-- </form> -->
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- Fin Grillla -->

	<!-- Inicio del Paginador -->
	<nav aria-label="Page navigation">
		<ul class="pagination">

		    {% if tipocargo.has_previous %}
		        <li><a href="?page={{ tipocargo.previous_page_number }}">Atras</a></li>
		    {% endif %}

		   <li>
		   	<span class="current">
		        Pagina {{ tipocargo.number }} de {{ tipocargo.paginator.num_pages }}
		    </span>

		   </li> 

		    {% if tipocargo.has_next %}
		        <li><a href="?page={{ tipocargo.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		</ul>
	</nav>
	<!-- Fin del Paginador -->

</div>



<!-- Inicio de Codigo para Modales -->
<div id="modalTipoCargo" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Agregar</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
      <!-- <input type="text" id="micajatexto2" class="nuevo"> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <!-- <button id="guardarNivelComite" type="button" class="btn btn-primary">Guardar</button> -->
        <button type="button" class="btn btn-primary" id="guardarTipoCargo" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando datos">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    

{% endblock maestro_contenido %}


{% block maestro_scripts %}
<script src="{% static 'js/tipocargo/tipocargo.js' %}"></script>
{% endblock maestro_scripts %}
