{% extends "Base.html" %}

{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

<div class="col-sm-6">

	<!-- Inicio Grilla -->
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nro</th>
					<th>Nombre</th>
					<th>Operaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Secretario General</td>
					<td>Editar</td>
					<td>Eliminar</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Fin Grillla -->

	<!-- Inicio del Paginador -->
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
			  <a href="#" aria-label="Previous">
			    <span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
			  <a href="#" aria-label="Next">
			    <span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
		</ul>
	</nav>
	<!-- Fin del Paginador -->

</div>

    

{% endblock maestro_contenido %}


{% block maestro_scripts %}

{% endblock maestro_scripts %}
