{% extends "Base.html" %}

{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}

{% block maestro_scripts %}

<!-- <script type="text/javascript" src="{% static 'js/adminetapas.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script> -->

<!-- {% if inactivo == "" %} -->
    <!-- <script type="text/javascript" src="{% static 'js/sordid-dragon.jquery.min.js' %}"></script> -->
    
<!-- {% endif %} -->

{% endblock maestro_scripts %}

{% load mathfilters %}

{% block maestro_contenido %}
    
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates perspiciatis, nesciunt recusandae quisquam omnis nam modi nihil culpa obcaecati, voluptate nulla quis, explicabo similique. Accusantium nisi fugiat tempora, aliquid esse!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iusto, et blanditiis vel maxime error veritatis, perferendis at sit sed necessitatibus pariatur officia ipsum dolore obcaecati quo dolorem. Atque, deserunt.
    

{% endblock maestro_contenido %}
