
{% load static from staticfiles %}


{% block maestro_estilos %}

{% endblock maestro_estilos %}


{% block maestro_contenido %}

   <form id="formPersona" class="form-horizontal" role="form" method="post" action='{{url}}'>
   {% csrf_token %}

   {% for field in form %}
	<div class="form-group">
		<div class="col-xs-12 col-sm-4">
			<label for="nombre">{{ field.label_tag }}</label>
		</div>
		<div class="col-xs-12 col-sm-8">
			{% if field.name == 'nombre' %}
				{{field}}
			{% endif%}
			{% if field.name == 'paterno' %}
				{{field}}
			{% endif%}
			{% if field.name == 'materno' %}
				{{field}}
			{% endif%}
			{% if field.name == 'dni' %}
				{{field}}
			{% endif%}
			{% if field.name == 'sexo' %}
				{{field}}
			{% endif%}
			{% if field.name == 'correos' %}
				{{field}}

			{% endif%}
			
			{% if field.name == 'clave' %}
				{{field}}
			{% endif%}


			{% if field.name == 'fnacimiento' %}
				<div class='input-group date' id='datetimepicker1'>
				{{field}}
					<span class="input-group-addon">
			   		 <span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			{% endif%}

			{% if field.name == 'estadocivil' %}
				{{field}}
			{% endif%}

			{% if field.name == 'tipocalle' %}
				{{field}}
			{% endif%}	

			{% if field.name == 'direccion' %}
				{{field}}
			{% endif%}
			{% if field.name == 'ubigeonacimiento' %}
				
				<div class="input-group">
					<input id= "txtubigeonacimiento" type="text" class="form-control" placeholder="Ubigeo">
					<span class="input-group-btn">
					<a id="btnAgregarUbigeoN" href="/persona.ubigeonacimiento/listar/" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search"></span></a>
				</div>
				{{field}}
			{% endif%}
			{% if field.name == 'ubigeoresidencia' %}

				<div class="input-group">
					<input id= "txtubigeoresidencia" type="text" class="form-control" placeholder="Ubigeo">
					<span class="input-group-btn">
					<a id="btnAgregarUbigeoR" href="/persona.ubigeonacimiento/listar/" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search"></span></a>
				</div>
				{{field}}
			{% endif%}

		<div class="help-block alert-danger">
		{{ field.errors }}        
		</div>     
		</div>

	</div>


	{% endfor %}

		</form>



{% endblock maestro_contenido %}


{% block maestro_scripts %}


  <script src="{% static 'js/persona/persona_form.js' %}"> </script>

{% endblock maestro_scripts %}