<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<title>Document</title>
</head>
<body>

<div class="container">

	<!-- Inicio Menu -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- Fin Menu -->


  <div >

  	<!-- Inicio del Formulario -->

  	<form class="form-horizontal" role="form">
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">ID</label>
		  <div class="col-xs-3">
		    <input class="form-control" type="text" placeholder="ID" id="idPersona">
		  </div>
		</div> 
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Nombres</label>
		  <div class="col-xs-7">
		    <input class="form-control" type="text" placeholder="Nombre" id="nombresPersona">
		  </div>
		</div>   
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Apellido paterno</label>
		  <div class="col-xs-7">
		    <input class="form-control" type="text" placeholder="Apellido paterno" id="paternoPersona">
		  </div>
		</div>  
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Apellido materno</label>
		  <div class="col-xs-7">
		    <input class="form-control" type="text" placeholder="Apellido materno" id="maternoPersona">
		  </div>
		</div> 		
		<div class="form-group row">
		  <label for="example-email-input" class="col-xs-2 control-label">Email</label>
		  <div class="col-xs-5">
		    <input class="form-control" type="email" placeholder="nombre@ejemplo.com" id="correoOrganizacion">
		  </div>
		</div>					
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">DNI</label>
		  <div class="col-xs-5">
		    <input class="form-control" type="text" placeholder="DNI" id="dniPersona">
		  </div>
		</div>   	
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Clave</label>
		  <div class="col-xs-5">
		    <input class="form-control" type="text" placeholder="Clave" id="clavePersona">
		  </div>
		</div>  	
		<div class="form-group row">
			<label for="example-text-input" class="col-xs-2 control-label">Sexo</label>
			<div class="col-xs-7">
				<label class="form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SexoPersona" value="M"> Masculino
				</label>
				<label class="form-check-inline">
				  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SexoPersona" value="F"> Femenino
				</label>
			</div>
		</div>
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Fecha Nacimiento</label>
		  <div class="col-xs-7">
		    <input class="form-control" type="date" value="2016-09-01" id="idFechaNacimiento">
		  </div>
		</div>		
	  	<div class="form-group row">
	  		<label for="example-text-input" class="col-xs-2 control-label">Estado Civil</label>
			<div class="col-xs-7">
				<select class="form-control" id="idEstadoCivil">
			    	<option>Soltero</option>
			    	<option>Casado</option>
			    	<option>Viudo</option>
			    	<option>Divorciado</option>
			   	</select>
			</div>
	  	</div>	
	  	<div class="form-group row">
	  		<label for="example-text-input" class="col-xs-2 control-label">Tipo Calle</label>
			<div class="col-xs-7">
				<select class="form-control" id="idTipoCalle">
			    	<option>Jirón</option>
			    	<option>Avenida</option>
			    	<option>Prolongación</option>
			    	<option>Calle</option>
			    	<option>Urbanización</option>
			   	</select>
			</div>
	  	</div>	  	
		<div class="form-group row">
		  <label for="example-text-input" class="col-xs-2 control-label">Dirección</label>
		  <div class="col-xs-7">
		    <input class="form-control" type="text" placeholder="Dirección" id="direccionPersona">
		  </div>
		</div>
	  	<div class="form-group row">
	  		<label for="example-text-input" class="col-xs-2 control-label">Lugar de Nacimiento</label>
			<div class="col-xs-5">
				<select class="form-control" id="departamentoNac">
			    	<option>Cajamarca</option>
			    	<option>Lima</option>
			    	<option>La Libertad</option>
			   	</select>
				<select class="form-control" id="provinciaNac">
			    	<option>Cajamarca</option>
			    	<option>Cajabamba</option>
			    	<option>San Marcos</option>
			   	</select>	
				<select class="form-control" id="distritoNac">
			    	<option>Cajamarca</option>
			    	<option>Baños del Inca</option>
			    	<option>La encañada</option>
			   	</select>			   		   	
			</div>
	  	</div>	
	  	<div class="form-group row">
	  		<label for="example-text-input" class="col-xs-2 control-label">Lugar de Residencia</label>
			<div class="col-xs-5">
				<select class="form-control" id="departamentoRes">
			    	<option>Cajamarca</option>
			    	<option>Lima</option>
			    	<option>La Libertad</option>
			   	</select>
				<select class="form-control" id="provinciaRes">
			    	<option>Cajamarca</option>
			    	<option>Cajabamba</option>
			    	<option>San Marcos</option>
			   	</select>	
				<select class="form-control" id="distritoRes">
			    	<option>Cajamarca</option>
			    	<option>Baños del Inca</option>
			    	<option>La encañada</option>
			   	</select>			   		   	
			</div>
	  	</div>		  			   	  		
		<div class="form-group row">
		  <label for="example-email-input" class="col-xs-2 control-label">Emails</label>
		  <div class="col-xs-5">
		    <input class="form-control" type="email" placeholder="nombre@ejemplo.com" id="correoPersona">
		  </div>
		</div>	
	  <div class="form-group row">
	    <div class="col-xs-offset-2 col-xs-10">
	      <button type="submit" class="btn btn-default">Guardar</button>
	    </div>
	  </div>
	</form>

  	<!-- Fin del formulario -->

  </div>

</div>



<!-- Inicio de scripts -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>