<label>Distrito</label>
<select id="selectDistrito" name = 'distrito' class = 'form-control selectpicker' data-live-search = 'true'>
	{% for ubigeo in ubigeo %}
		<option value="{{ubigeo.id}}">{{ubigeo.nombreubigeo}}</option>
	{% endfor %}
</select>
<script type="text/javascript">
	$(function(){
		$('.selectpicker').selectpicker({
			size: 5,
		});
		if(tipoubigeo=='N'){
			if(disN){
				$('#selectDistrito').val(disN);
				$('#selectDistrito').selectpicker('refresh');
			}	
		}
		else if(tipoubigeo=='R'){
			if(disR){
				$('#selectDistrito').val(disR);
				$('#selectDistrito').selectpicker('refresh');
			}
		}
	});
</script>