#id_menus label{
	float: left;
	display: flex;
	margin-right: 10px;
}
#id_menus input{
	margin: 4px 12px 0;
}

.filasSeleccionada{
	background-color: #FFFD99 !important;
}

.selecting {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}