{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>
        {% block maestro_titulo %}
        {% endblock maestro_titulo %}
    </title>

    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/boostrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/boostrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/boostrap/css/custom-style.css' %}">

    {% block maestro_estilos %}
    {% endblock maestro_estilos %}
</head>
<body>

<div class="container">
    <div class="row">
        {% block maestro_contenido %}

        {% endblock maestro_contenido %}
    </div>    
</div>

    


	{% block maestro_scripts %}
	{% endblock maestro_scripts %}

    <!-- script src="{% static 'js/bootstrap.min.jssss' %}"></script -->
</body>
</html>